<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="Suite">

	<listeners>
		<listener class-name="utilities.Listeners"></listener>
	</listeners>
	<test name="Testing">
		<!-- <groups> <run> <exclude name = "Functionality" /> </run> </groups> -->
		<classes >
			<class name="Tests.PersonTraceTest"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
